﻿@model SMB.Models.TRN_DETAIL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TRN_DETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TRD_TRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_TRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_LINE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_LINE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_ITEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_ITEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_PQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_PQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_PRATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_PRATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_SQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_SQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_SRATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_SRATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_FAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_FAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_ORD_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_ORD_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRD_ORD_LINE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRD_ORD_LINE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
