﻿@model IEnumerable<SMB.Models.TRN_DETAIL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TRD_TRM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_LINE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_ITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_PQTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_PRATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_SQTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_SRATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_FAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_ORD_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRD_ORD_LINE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_TRM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_LINE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_ITEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_PQTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_PRATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_SQTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_SRATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_FAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_ORD_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRD_ORD_LINE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TRD_NO }) |
            @Html.ActionLink("Details", "Details", new { id=item.TRD_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TRD_NO })
        </td>
    </tr>
}

</table>
