﻿@model SMB.Models.ITEM_LIST

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ITEM_LIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_DP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_DP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_TP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_MP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_MP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_FACTOR.FAC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_FACTOR.FAC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_GROUP1.GROUP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_GROUP1.GROUP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_ITEM.TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_ITEM.TYPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_UOM1.UOM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_UOM1.UOM_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
