﻿@model SMB.Models.ITEM_LIST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ITEM_LIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_DP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_DP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_TP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_MP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_MP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_FACTOR.FAC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_FACTOR.FAC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_GROUP1.GROUP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_GROUP1.GROUP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_ITEM.TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_ITEM.TYPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_UOM1.UOM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_UOM1.UOM_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITEM_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
