﻿@model IEnumerable<SMB.Models.ITEM_LIST>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_DP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_TP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_SP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_MP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_FACTOR.FAC_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_GROUP1.GROUP_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_ITEM.TYPE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_UOM1.UOM_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_DP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_TP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_SP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_MP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_FACTOR.FAC_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_GROUP1.GROUP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_ITEM.TYPE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_UOM1.UOM_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ITEM_CODE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ITEM_CODE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ITEM_CODE })
        </td>
    </tr>
}

</table>
