﻿@model SMB.Models.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_MOBILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_MOBILE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_ADDR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_ADDR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_ADDR2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_ADDR2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_CUST.TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_CUST.TYPE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
