﻿@model IEnumerable<SMB.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_MOBILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_ADDR1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_ADDR2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_CUST.TYPE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_MOBILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_ADDR1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_ADDR2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_CUST.TYPE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUST_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUST_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUST_ID })
        </td>
    </tr>
}

</table>
