﻿@model SMB.Models.ITEM_FACTOR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ITEM_FACTOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FAC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FAC_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
