﻿@model SMB.Models.TYPE_TRN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TYPE_TRN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TRN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRN_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRN_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRN_SIGN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRN_SIGN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TRN_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
