﻿@model IEnumerable<SMB.Models.TYPE_TRN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TRN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRN_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRN_SIGN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TRN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRN_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRN_SIGN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TRN_CODE }) |
            @Html.ActionLink("Details", "Details", new { id=item.TRN_CODE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TRN_CODE })
        </td>
    </tr>
}

</table>
